html {
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom: 20px;
}
body {
    background-image: url(./images/bgimage.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
*{
    color:white;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}

.jumbotron {
    background-color: #4f4f4f;
    color:black
}

#profile-pic{
    height:1205px;
    width: auto;
}

h2 {
    font-weight: bold;
}

#profile,
#goals {
    margin-bottom: 30px;
}

#profile {
    background-color: #00bda5;
    text-align: justify;
}

#goals {
    background-color: #f5c26b;
}

#hobbies {
    background-color: #2d3e50;
}

#contact {
    margin-top:30px;
    background-color: #f2547d;
}

.hobby {
    height:140px;
    width:auto;
    margin-left: 80px;
}

.icon {
    height:40px;
    width:auto;
}