html {
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom: 20px;
}

#profile-pic{
    height:1075px;
    width: auto;
}

h2 {
    font-weight: bold;
}

#profile,
#goals {
    margin-bottom: 30px;
}

.hobby {
    height:120px;
    width:auto;
    margin-left: 80px;
}

*{
    color:white;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    
}

#profile {
    background-color: #00bda5;
    text-align: justify;
}

#goals {
    background-color: #f5c26b;
}

#hobbies {
    background-color: #2d3e50;
}

#contact {
    margin-top:30px;
    background-color: #f2547d;
}

.jumbotron {
    color:black
}